{% extends "base_generic.html" %}

{% block content %}
<!-- <h1 class="text-2xl font-bold mb-8 mt-6 text-center p-4">
  Questions
</h1> -->


<div class="flex">
  <div class="w-1/4 p-4 bg-gray-100 border-r border-gray-300 rounded-tr-lg shadow-md mt-2">
    <form method="get" action="{% url 'question_list' %}">
      <div class="mb-4">
        <label for="search" class="block mb-1">Search:</label>
        <input type="text" name="search" id="search" value="{{ search_query }}" placeholder="Search questions..." class="w-full p-2 border border-gray-300 rounded">
      </div>
      <div class="mb-4">
        <label for="tags" class="block mb-1">Tags:</label>
        <select name="tags" id="tags" multiple class="w-full p-2 border border-gray-300 rounded">
          {% for tag in tags %}
            <option value="{{ tag.name }}" {% if tag.name in selected_tags %}selected{% endif %}>{{ tag.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label for="year" class="block mb-1">Filter by year:</label>
        <select name="year" id="year" class="w-full p-2 border border-gray-300 rounded">
          <option value="">All Years</option>
          {% for year in years %}
            <option value="{{ year.year }}" {% if selected_year == year.year|stringformat:"s" %}selected{% endif %}>{{ year.year }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-4">
        <label for="sort" class="block mb-1">Sort by:</label>
        <select name="sort" id="sort" onchange="this.form.submit()" class="w-full p-2 border border-gray-300 rounded">
          <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Newest first</option>
          <option value="date_asc" {% if sort_by == 'date_asc' %}selected{% endif %}>Oldest first</option>
        </select>
      </div>
      <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Filter</button>
      <a href="{% url 'question_list' %}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Reset</a>
    </form>
  </div>

  <div class="w-3/4 p-4 ml-10">
    <div class="flex justify-between items-center mb-2 mr-5">
     
      <div>{% if display == 'questions' %}
        <h1 class="text-2xl font-bold mb-8 mt-6 text-center p-4 " style="padding-right: 20vw;">
          Questions
        </h1>
        {% else %}
        <h1 class="text-2xl font-bold mb-8 mt-6 text-center p-4" style="padding-right: 20vw;">
          Answers
        </h1>
        {% endif %}</div>
        <div class="flex space-x-2 ">
          <a href="{% url 'question_list' %}?display=questions&search={{ search_query }}" class="px-4 py-2 border border-blue-500 {% if display == 'questions' %}bg-blue-500 text-white{% else %}bg-white text-blue-500{% endif %}">Questions</a>
          <a href="{% url 'question_list' %}?display=answers&search={{ search_query }}" class="px-4 py-2 border border-blue-500 {% if display == 'answers' %}bg-blue-500 text-white{% else %}bg-white text-blue-500{% endif %}">Answers</a>
        </div>
    </div>
    {% if display == 'questions' %}
      <ul class="space-y-6">
        {% if questions %}
          {% for question in questions %}
            <li class="mx-auto w-11/12 p-4 border border-gray-300 rounded bg-white shadow-md">
              <div class="flex justify-between items-center">
                <a href="{% url 'question_detail' question.pk %}" class="text-lg font-bold text-blue-500 hover:text-blue-600">{{ question.title }}</a>
                <small class="text-gray-500"> by {{ question.user.username }} {{ question.created_at }}</small>
              </div>
              <div class="mt-2 text-gray-600">
                <span>Number of answers: {{ question.answers.count }}</span>
              </div>
              <div class="mt-2 flex justify-between items-center">
                <div>
                  <span class="text-gray-600">Tags:
                    {% for tag in question.tags.all %}
                      <a href="{% url 'filter_by_tag' tag.name %}" class="text-blue-500 hover:underline">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                  </span>
                </div>
                <a href="{% url 'create_answer' question.pk %}#answer-form" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">Answer</a>
              </div>
            </li>
          {% endfor %}
        {% else %}
          <li class="mx-auto w-11/12 p-4 border border-gray-300 rounded bg-white shadow-md">
            No questions yet
          </li>
        {% endif %}
      </ul>
    {% else %}
    
      <!-- <h2 class="text-2xl font-bold mb-8 mt-6 text-center p-4">Answers</h2> -->
      <ul class="space-y-6"> 
        {% if answers %}
          {% for answer in answers %}
         
            <li class="mx-auto w-11/12 p-4 border border-gray-300 rounded bg-white shadow-md">
              <div class="flex justify-between items-center">
                <a href="{% url 'question_detail' answer.question.pk %}#answer-{{ answer.pk }}" class="text-lg font-bold text-blue-500 hover:text-blue-600">{{ answer.question.title }}</a>
                <small class="text-gray-500"> by {{ answer.user.username }} {{ answer.created_at }}</small>
              </div>
              <div class="mt-2 text-gray-600">
                {{ answer.description|truncatewords:20 }}
              </div>
            </li>
          {% endfor %}
        {% else %}
          <li class="mx-auto w-11/12 p-4 border border-gray-300 rounded bg-white shadow-md">
            No answers yet
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
